{{ 'left-content.css' | asset_url | stylesheet_tag }}
        <div class="left-content">
          <div class="responsiveSpShow">
            <img src="{{ '../assets/2011_otameshi_pc.png' | asset_url }}" alt="">
          </div>
          <div class="responsiveSpShow">
            <img src="{{ '../assets/140day_sp.jpeg' | asset_url }}" alt="">
          </div>
          <div class="responsiveSpShow">
            <img src="{{ '../assets/linetop_sp.png' | asset_url }}" alt="">
          </div>
          <div class="left-content-image-first responsiveSpHide">
            <a href="#">
              <img src="{{ '../assets/btn_snav01.jpg' | asset_url }}" alt="">
            </a>
          </div>
          <div class="left-content-image-second responsiveSpHide">
            <a href="#">
              <img src="{{ '../assets/140day_pc.jpg' | asset_url }}" alt="">
            </a>
          </div>
          <div class="left-content-image-third responsiveSpHide">
            <a href="#"><img src="{{ '../assets/2302_paypay_250x93.png' | asset_url }}" alt=""></a>
          </div>
          <div class="left-content-youkoso responsiveSpHide">
            <div class="left-content-youkoso-container">
              <div class="clear">
                <h4>現在の最短発送日は</h4>
                <h6>【 3月7日（火）】</h6>
                <p>※出荷日指定品を除く目安です。</p>
              </div>
            </div>
          </div>
          <div class="left-content-search responsiveSpHide">
            <div class="left-content-search-container">
              <h2>
                <img src="{{ '../assets/tit_search.jpg' | asset_url }}" alt="商品検索">
              </h2>
              <div class="clear">
                <input type="text" name="search">
                <img src="{{ '../assets/363-3630378_google-web-search-icon-search-icon-website.png' | asset_url }}" alt="">
              </div>
              <h5>
                <img src="{{ '../assets/tit_search02.png' | asset_url }}" alt="">
              </h5>
              <ul>
                <li>
                  <a href="#">全粒粉</a>
                </li>
                <li>
                  <a href="#">うどん丸</a>
                </li>
                <li>
                  <a href="#">半生うどん</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">芳純シリーズ</a>
                </li>
                <li>
                  <a href="#">カレーうどん</a>
                </li>
              </ul>
              <span>
                ※商品番号「0961」「0200」
                <br>
                などでも検索いただけます
              </span>
            </div>
          </div>
          <div class="left-content-youkoso responsiveSpHide">
            <div class="left-content-youkoso-container">
              <div class="clear">
                <p>ようこそ</p>
                <p>ゲスト様</p>
                <a href="#">ログインはこちら</a>
              </div>
            </div>
          </div>
          <div class="left-content-category responsiveSpHide">
            <div class="inner">
              <ul class="inner-category">
                <li class="inner-category-image1">
                  <a href="#">お試し商品【送料無料】</a>
                </li>
                <li class="inner-category-image2">
                  <a href="#">半生うどん</a>
                </li>
                <li class="inner-category-image3">
                  <div class="inner-category-image3-link">
                    <a href="#">乾めん</a>
                  </div>
                  <ul>
                    <li><a href="#">うどん</a></li>
                    <li><a href="#">そうめん</a></li>
                    <li><a href="#">ひやむぎ・きしめん</a></li>
                    <li><a href="#">そば</a></li>
                    <li><a href="#">ラーメン</a></li>
                  </ul>
                </li>
                <li class="inner-category-image4">
                  <div class="inner-category-image4-link">
                    <a href="#">全粒粉うどん・パスタ</a>
                  </div>
                  <ul>
                    <li><a href="#">全粒粉パスタ</a></li>
                  </ul>
                </li>
                <li class="inner-category-image5">
                  <a href="#">低糖質うどん</a>
                </li>
                <li class="inner-category-image6">
                  <a href="#">送料込商品</a>
                </li>
                <li class="inner-category-image7">
                  <div class="inner-category-image7-link">
                    <a href="#">ギフト・詰合せ</a>
                  </div>
                  <ul>
                    <li><a href="#">半生めんギフト</a></li>
                    <li><a href="#">乾めんギフト</a></li>
                    <li><a href="#">風呂敷包みギフト</a></li>
                  </ul>
                </li>
                <li class="inner-category-image8">
                  <a href="#">お土産・ご挨拶</a>
                </li>
                <li class="inner-category-image9">
                  <a href="#">めんつゆ・うどんだし</a>
                </li>
                <li class="inner-category-image10">
                  <a href="#">国産小麦</a>
                </li>
                <li class="inner-category-image11">
                  <div class="inner-category-image11-link">
                    <a href="#">1袋単品</a>
                  </div>
                  <ul>
                    <li><a href="#">半生うどん</a></li>
                    <li><a href="#">乾めん</a></li>
                  </ul>
                </li>
                <li class="inner-category-image12">
                  <div class="inner-category-image12-link">
                    <a href="#">金額から選ぶ</a>
                  </div>
                  <ul>
                    <li><a href="#">～ 1,000円</a></li>
                    <li><a href="#">1,000円 ～ 2,000円</a></li>
                    <li><a href="#">2,000円 ～ 3,000円</a></li>
                    <li><a href="#">3,000円 ～ 5,000円</a></li>
                    <li><a href="#">5,000円 ～</a></li>
                  </ul>
                </li>
                <li class="inner-category-image13">
                  <div class="inner-category-image13-link">
                    <a href="#">麺の太さから選ぶ</a>
                  </div>
                  <ul>
                    <li><a href="#">細めん</a></li>
                    <li><a href="#">並めん</a></li>
                    <li><a href="#">太めん</a></li>
                  </ul>
                </li>
                <li class="inner-category-image14">
                  <div class="inner-category-image14-link">
                    <a href="#">紙袋・ビニール袋</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <ul class="left-content-side_link ">
            <li class="responsiveSpHide">
              <a href="#">
                <img src="{{ '../assets/bnr_pc.jpg' | asset_url }}" alt="">
              </a>
            </li>
            <li class="responsiveSpHide">
              <img src="{{ '../assets/linetop_pc.png' | asset_url }}" alt="">
            </li>
            <li class="responsiveSpHide">
              <a href="#">
                <img src="{{ '../assets/s_sb_30088.jpg' | asset_url }}" alt="">
              </a>
            </li>
            <li class="responsiveSpHide">
              <a href="#">
                <img src="{{ '../assets/paypay_1_rgb.png' | asset_url }}" alt="">
              </a>
            </li>
            <li class="responsiveSpHide">
              <a href="#">
                <img src="{{ '../assets/2110_noshi_bnr_side.png' | asset_url }}" alt="">
              </a>
            </li>
            <li class="responsiveSpHide">
              <div class="calendar ">
                <div class="calendar-text">
                  <h2>カレンダー</h2>
                </div>
                <div class="calendar-head">
                  <h6>2023年 03月</h6>
                </div>
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <p style="color: #F7C5BF">日</p>
                      </td>
                      <td>
                        <p>月</p>
                      </td>
                      <td>
                        <p>火</p>
                      </td>
                      <td>
                        <p>水</p>
                      </td>
                      <td>
                        <p>木</p>
                      </td>
                      <td>
                        <p>金</p>
                      </td>
                      <td>
                        <p>土</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>&nbsp;</p>
                      </td>
                      <td>
                        <p>&nbsp;</p>
                      </td>
                      <td>
                        <p>&nbsp;</p>
                      </td>
                      <td>
                        <p style="background-color:#FFCC00 ">1</p>
                      </td>
                      <td>
                        <p style="background-color:#CCB275; color:#ffffff">2</p>
                      </td>
                      <td>
                        <p>3</p>
                      </td>
                      <td>
                        <p style="background-color:#F7C5BF">4</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="background-color:#F7C5BF">5</p>
                      </td>
                      <td>
                        <p>6</p>
                      </td>
                      <td>
                        <p>7</p>
                      </td>
                      <td>
                        <p>8</p>
                      </td>
                      <td>
                        <p>9</p>
                      </td>
                      <td>
                        <p>10</p>
                      </td>
                      <td>
                        <p style="background-color:#F7C5BF">11</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="background-color:#F7C5BF">12</p>
                      </td>
                      <td>
                        <p>13</p>
                      </td>
                      <td>
                        <p style="background-color:#FFCC00 ">14</p>
                      </td>
                      <td>
                        <p>15</p>
                      </td>
                      <td>
                        <p>16</p>
                      </td>
                      <td>
                        <p>17</p>
                      </td>
                      <td>
                        <p style="background-color:#F7C5BF">18</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="background-color:#F7C5BF">19</p>
                      </td>
                      <td>
                        <p>20</p>
                      </td>
                      <td>
                        <p style="background-color:#F7C5BF">21</p>
                      </td>
                      <td>
                        <p>22</p>
                      </td>
                      <td>
                        <p>23</p>
                      </td>
                      <td>
                        <p>24</p>
                      </td>
                      <td>
                        <p style="background-color:#F7C5BF">25</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="background-color:#F7C5BF">26</p>
                      </td>
                      <td>
                        <p>27</p>
                      </td>
                      <td>
                        <p>28</p>
                      </td>
                      <td>
                        <p>29</p>
                      </td>
                      <td>
                        <p>30</p>
                      </td>
                      <td>
                        <p>31</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="calendar-info">
                  <tbody>
                    <tr style="display: flex;">
                      <td style="width: 30px;height: 17px ; background-color:#CCB275 "></td>
                      <td style="padding-left: 10px;">
                        <p>今日</p>
                      </td>
                    </tr>
                    <tr style="display: flex;">
                      <td style="width: 30px;height: 17px ; background-color:#F7C5BF "></td>
                      <td style="padding-left: 10px;">
                        <p>休業日</p>
                      </td>
                    </tr>
                    <tr style="display: flex;">
                      <td style="width: 30px;height: 17px ; background-color:#FFCC00 "></td>
                      <td style="padding-left: 10px;">
                        <p>石丸うどんの日</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="calendar-head">
                  <h6>2023年 04月</h6>
                </div>
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <p style="color: #F7C5BF">日</p>
                      </td>
                      <td>
                        <p>月</p>
                      </td>
                      <td>
                        <p>火</p>
                      </td>
                      <td>
                        <p>水</p>
                      </td>
                      <td>
                        <p>木</p>
                      </td>
                      <td>
                        <p>金</p>
                      </td>
                      <td>
                        <p>土</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>&nbsp;</p>
                      </td>
                      <td>
                        <p>&nbsp;</p>
                      </td>
                      <td>
                        <p>&nbsp;</p>
                      </td>
                      <td>
                        <p>&nbsp;</p>
                      </td>
                      <td>
                        <p>&nbsp;</p>
                      </td>
                      <td>
                        <p>&nbsp;</p>
                      </td>
                      <td>
                        <p style="background-color:#FFCC00 ">1</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="background-color:#F7C5BF">2</p>
                      </td>
                      <td>
                        <p>3</p>
                      </td>
                      <td>
                        <p>4</p>
                      </td>
                      <td>
                        <p>5</p>
                      </td>
                      <td>
                        <p>6</p>
                      </td>
                      <td>
                        <p>7</p>
                      </td>
                      <td>
                        <p style="background-color:#F7C5BF">8</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="background-color:#F7C5BF">9</p>
                      </td>
                      <td>
                        <p>10</p>
                      </td>
                      <td>
                        <p>11</p>
                      </td>
                      <td>
                        <p>12</p>
                      </td>
                      <td>
                        <p>13</p>
                      </td>
                      <td>
                        <p style="background-color:#FFCC00 ">14</p>
                      </td>
                      <td>
                        <p style="background-color:#F7C5BF">15</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="background-color:#F7C5BF">16</p>
                      </td>
                      <td>
                        <p>17</p>
                      </td>
                      <td>
                        <p>18</p>
                      </td>
                      <td>
                        <p>19</p>
                      </td>
                      <td>
                        <p>20</p>
                      </td>
                      <td>
                        <p>21</p>
                      </td>
                      <td>
                        <p style="background-color:#F7C5BF">22</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="background-color:#F7C5BF">23</p>
                      </td>
                      <td>
                        <p>24</p>
                      </td>
                      <td>
                        <p>25</p>
                      </td>
                      <td>
                        <p>26</p>
                      </td>
                      <td>
                        <p>27</p>
                      </td>
                      <td>
                        <p>28</p>
                      </td>
                      <td>
                        <p>29</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style="background-color:#F7C5BF">30</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table class="calendar-info">
                  <tbody>
                    <tr style="display: flex;">
                      <td style="width: 30px;height: 17px ; background-color:#F7C5BF "></td>
                      <td style="padding-left: 10px;">
                        <p>休業日</p>
                      </td>
                    </tr>
                    <tr style="display: flex;">
                      <td style="width: 30px;height: 17px ; background-color:#FFCC00 "></td>
                      <td style="padding-left: 10px;">
                        <p>石丸うどんの日</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>

            <li>
              <a href="#">
                <img src="{{ '../assets/btn_snav11_blog.png' | asset_url }}" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="{{ '../assets/btn_snav12v.png' | asset_url }}" alt="">
              </a>
            </li>
            <li class="responsiveSpHide">
              <a href="#">
                <img src="{{ '../assets/2302_send.png' | asset_url }}" alt="">
              </a>
            </li>
            <li class="responsiveSpShow">
              <a href="#">
                <img src="{{ '../assets/btn_snav02.jpeg' | asset_url }}" alt="">
              </a>
            </li>
            <li class="responsiveSpShow">
              <a href="#">
                <img src="{{ '../assets/btn_snav05.jpeg' | asset_url }}" alt="">
              </a>
            </li>
            <li class="responsiveSpShow">
              <a href="#">
                <img src="{{ '../assets/gyoumu_img.jpg' | asset_url }}" alt="">
              </a>
            </li>
            <li class="responsiveSpShow">
              <a href="#">
                <img src="{{ '../assets/bnr_pc.jpg' | asset_url }}" alt="">
              </a>
            </li>
            <li class="responsiveSpShow">
              <a href="#">
                <img src="{{ '../assets/btn_snav08.jpg' | asset_url }}" alt="">
              </a>
            </li>
            <li class="responsiveSpShow">
              <a href="#">
                <img src="{{ '../assets/2302_send.png' | asset_url }}" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="{{ '../assets/2302_catalog.png' | asset_url }}" alt="">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="{{ '../assets/2210_chumon.png' | asset_url }}" alt="">
              </a>
            </li>
          </ul>
        </div>
