{{ 'product-detail.css' | asset_url | stylesheet_tag }}
{{ 'product-detail.js' | asset_url | script_tag }}
<section id="product-detail">
    {% render 'left-content' %}
    <div class="container">
        <div class="directional">
            <ul class="breadcrumb">
                <li><a href="">トップ</a></li>
                <li><a href="">ギフト・詰合せ</a></li>
                <li>UG-5 国産 半生讃岐うどん「うどん丸」</li>
            </ul>
            <div class="prev-next">
            <span>
                <i class="fa-solid fa-chevron-left"></i>
                前の商品</span>
                <span>次の商品
            <i class="fa-solid fa-chevron-right"></i></span>
            </div>
        </div>
        <div class="detail">
            <div class="image-gallery">
                <div class="image-container">
                    <img src="" id="main-image">
                    <div class="thumbnails">
                        {% for block in section.blocks %}
                            <img src="{{ block.settings.image | img_url: "original" }}"
                                 alt="{{ block.settings.title }}">
                        {% endfor %}
                    </div>
                </div>
                <div class="maintain__product">
                    <div class="maintain__item">
                        <img src="{{ '../assets/imgDetailSp.jpeg' | asset_url }}" alt="Img Detail">
                        <p>1箱に20袋入っております。</p>
                    </div>
                    <div class="maintain__item">
                        <img src="{{ '../assets/imgDetailSp2.jpeg' | asset_url }}" alt="Make shop">
                        <div>
                            <p><span style="font-size:20px;">こちらの箱でお届けいたします。<br>
                        箱にのし・包装ができます。<br>
                        紙袋：最適サイズ<img alt="Icon Cart" src="{{ '../assets/icon-cart.png' | asset_url }}" style="width: 30px"><br></span>
                            <div class="maintain__note">
                                <p>→<span>紙袋（大サイズ）はこちら</span></p>
                                <p>→<span>ビニール袋はこちら</span></p>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="detail__info">
                <h2>半生讃岐石丸うどん包丁切り（20袋)</h2>
                <div class="detail__info-note">
                    <span>包丁切り</span>
                    <ul>
                        <li>★保存料不使用,賞味期限1か月</li>
                        <li>★テストするモノ批評誌 <span>「MONOQLO」</span> 2023年3月号で「感動の安くて良いモノ」<span>ベストバリュー</span>に選ばれました！
                        </li>
                    </ul>
                    <p>厳選した小麦粉を使用し、保存料不使用でつくりました。
                        うどん本来の味を楽しめる、素材勝負の自信作。讃岐伝統の手打式製法で打ち上げた半生麺です。</p>
                    <ul class="detail__description">
                        <li>60人前</li>
                        <li>内容量：300g（3人前）×20袋</li>
                        <li>賞味期限：製造より1か月（保存料不使用</li>
                        <li>ゆで時間：15分（ざる）</li>
                    </ul>
                    <p>※めんつゆは付いておりません。</p>
                    <div class="detail__image">
                        <img src="{{ '../assets/detail1.png' | asset_url }}" alt="">
                        <img src="{{ '../assets/detail2.png' | asset_url }}" alt="">
                    </div>
                    <img src="{{ '../assets/detail3.png' | asset_url }}" alt="">
                    <img src="{{ '../assets/detail4.png' | asset_url }}" alt="">
                </div>
                <div class="detail__money">
                    <ul class="count__price">
                        <li>商品コード : 0963</li>
                        <li><span>価格:</span>
                            5,000
                            円（税込）
                        </li>
                        <li>ポイント : 50</li>
                        <li style="display: flex; gap: 20px; align-items: center">数量
                            <input type="text" value="1">
                            <span>   <i class="fa-solid fa-caret-up"></i>
                            <i class="fa-solid fa-caret-down"></i></span>
                        </li>
                        <li>
                            <select>
                                <option>--- 包装(必須) ---</option>
                                <option selected="">1、包装なし</option>
                                <option>2、簡易包装のみ [表書・名入れ不可]</option>
                                <option>6、新デザインかけ紙【い】[あさの葉]</option>
                                <option>7、新デザインかけ紙【ろ】[ベーシック]</option>
                                <option>8、新デザインかけ紙【は】[うどんシルエット]</option>
                                <option> : 3、完全包装[有料](+50円)</option>
                            </select>
                        </li>
                        <li>
                            <select>
                                <option>--- 表書(必須) ---</option>
                                <option selected>50、のしなし</option>
                                <option>55、表書なし</option>
                                <option>3、御中元</option>
                                <option>4、御歳暮</option>
                                <option>5、御祝</option>
                                <option>6、御礼</option>
                                <option>8、粗品</option>
                                <option>11、御供</option>
                                <option>12、暑中御見舞</option>
                                <option>14、御年賀</option>
                                <option>16、内祝</option>
                                <option>21、粗供養</option>
                                <option>22、志</option>
                                <option>37、寿[蝶結]/長寿祝いなど</option>
                                <option>38、寿[結切10本]/結婚などのお返し</option>
                                <option>42、御挨拶</option>
                                <option>56、御祝[蝶結]/出産・入学・新築祝いなど</option>
                                <option>57、御祝[結切10本]/結婚など</option>
                                <option>58、内祝[蝶結]/出産・入学・新築祝いのお返し</option>
                                <option>59、内祝[結切5本]/病気などの御見舞いのお返し</option>
                                <option>60、内祝[結切10本]/結婚などのお返し</option>
                                <option>61、御供[黄のし]</option>
                                <option>62、御供[蓮のし]</option>
                                <option>65、粗供養[黄のし]</option>
                                <option>66、粗供養[蓮のし]</option>
                                <option>67、志[黄のし]</option>
                                <option>68、志[蓮のし]</option>
                                <option>99、その他</option>
                            </select>
                        </li>
                        <li><span>【名入れ】と【外のし希望】(例→石丸　外のし）完全包装でのしをつける場合、基本は「内のし」です</span></li>
                        <li><input type="text" style="width: 100%"></li>
                        <li class="count__word">入力できる文字数：全角22文字</li>
                        <li class="button__cart">
                            <img src="{{ '../assets/btn_cart.png' | asset_url }}" alt="button cart">
                        </li>
                        <li>
                            <a href="">
                                <img src="{{ '../assets/shopping.png' | asset_url }}" alt="">
                            </a>
                        </li>
                        <li>
                            <ul class="ship__info">
                                <li>■本州・九州・四国：</li>
                                <li>商品代金5,000円(税込)以上で送料無料</li>
                                <li>■北海道・沖縄：</li>
                                <li>商品代金10,000円(税込)以上で送料無料</li>
                            </ul>
                        </li>
                        <li class="letter">
                            <p><i class="fa-regular fa-envelope"></i>
                                商品についての問い合わせ</p>
                        </li>
                        <li class="twitter">
                            <p><i class="fa-brands fa-twitter"></i>
                                ツイート</p>
                        </li>
                        <li class="like">
                            <p>
                                <i class="fa-solid fa-thumbs-up"></i>
                                Like
                            </p>
                            <span><a href="" target="_blank">Sign Up</a> to see what your friends like.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="trick">
            <h2>おいしさの秘密　～手打ち式製法 包丁切り～</h2>
            <p>讃岐伝統の手打式製法で打ち上げ、麺生地を包丁切りカッターで一本一本丁寧に切ることで、角の立った麺に仕上がりました。</p>
            <h2>おいしいゆで方</h2>
            <ul>
                <li>基準は100グラムのうどん（約1人前）に対して、水は約1リットル以上のたっぷりの水を使います。</li>
                <li>必ず沸騰したお湯に麺を投入してください。その後うどん同士がくっつかないよう箸で軽く麺をほぐしてください。</li>
                <li>うどんが軽く対流するぐらいの沸騰が続くように、火加減を調節し、食べ方に応じたゆで時間でゆであげてください。</li>
            </ul>
            <p>※このとき差し水は絶対しないでください。（火を弱めると吹き零れは収まります）</p>
        </div>
        <div class="comment">
            <h2><span>こ</span>の商品についてのレビュー</h2>
            <div class="rate__item">
                <div class="rate__info">
                    <div class="rate__user">
                        <label for="">
                            ニックネーム :
                            <input type="text">
                        </label>
                    </div>
                    <div class="rate-icon">
                        <p>評点 : </p>
                        <div>
                            <input type="radio" checked>
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                        </div>
                        <div>
                            <input type="radio">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                        </div>
                        <div>
                            <input type="radio">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                        </div>
                        <div>
                            <input type="radio">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                        </div>
                        <div>
                            <input type="radio">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                        </div>
                    </div>
                </div>
                <div class="rate__content">
                    <label for="">
                        内容 :
                        <input type="text">
                    </label>
                </div>
                <div class="assessment__form">
                    <button><i class="fa-solid fa-pencil"></i>レビューを書く</button>
                </div>
            </div>
        </div>
        <div class="review__list">
            <p>レビュー件数：9件</p>
            <div class="review__item">
                <div class="review__count">
                    <div class="review__title">
                        <p>評価</p>
                        <div>
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                        </div>
                    </div>
                    <div>
                        <p>2022/04/22 クロちゃんママさん</p>
                    </div>
                </div>
                <div class="review__content">
                    <p>夫が讃岐うどんの大ファンで、石丸さんの半生うどんを <br>
                        知人から頂き…感動する美味しさだと言い <br>
                        お取り寄せさせて頂きました。<br>
                        毎日食べても飽きないと大喜びです。</p>
                </div>
            </div>
            <div class="review__item">
                <div class="review__count">
                    <div class="review__title">
                        <p>評価</p>
                        <div>
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon1_off.png' | asset_url }}"
                                 alt="startIcon">
                        </div>
                    </div>
                    <div>
                        <p>2020/12/04 イシダヤスキヨさん</p>
                    </div>
                </div>
                <div class="review__content">
                    <p>苫小牧の従兄弟が好きで、昨年は別の物にしようかとTELしたところ、奥さんに「いつものうどんにして下さい」と言われて今年も送りました。</p>
                </div>
            </div>
            <div class="review__item">
                <div class="review__count">
                    <div class="review__title">
                        <p>評価</p>
                        <div>
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                        </div>
                    </div>
                    <div>
                        <p>2020/10/23 butabさん</p>
                    </div>
                </div>
                <div class="review__content">
                    <p>乾麺とはひと味違った食感。釜揚げ、出汁、ザル何れでも美味しく食べています。1袋3人前ですが、我が家では2人で食べるのに丁度良い量です。</p>
                </div>
            </div>
            <div class="review__item">
                <div class="review__count">
                    <div class="review__title">
                        <p>評価</p>
                        <div>
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                        </div>
                    </div>
                    <div>
                        <p>2020/10/14 たくちゃんさん</p>
                    </div>
                </div>
                <div class="review__content">
                    <p>いつもこの商品を買っています。ひとりで20袋を1か月となると、毎日石丸うどんになります。</p>
                </div>
            </div>
            <div class="review__item">
                <div class="review__count">
                    <div class="review__title">
                        <p>評価</p>
                        <div>
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                        </div>
                    </div>
                    <div>
                        <p>2020/05/25 こう&びっちさん</p>
                    </div>
                </div>
                <div class="review__content">
                    <p>
                        先日高松の友人から石丸うどんを頂いた。久しぶりに美味しかったので、自分用に初めて注文した。半生でこれだけの味であれば、東京では中々味わえない本格的なうどんでした。また注文します。</p>
                </div>
            </div>
            <div class="review__item">
                <div class="review__count">
                    <div class="review__title">
                        <p>評価</p>
                        <div>
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon1_off.png' | asset_url }}"
                                 alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon1_off.png' | asset_url }}"
                                 alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon1_off.png' | asset_url }}"
                                 alt="startIcon">
                        </div>
                    </div>
                    <div>
                        <p>2020/04/16 仙台すずめさん</p>
                    </div>
                </div>
                <div class="review__content">
                    <p>夫が讃岐うどんの大ファンで、石丸さんの半生うどんを <br>
                        今年の母の日のプレゼント用に、<br>
                        また注文したいと思います！。</p>
                </div>
            </div>
            <div class="review__item">
                <div class="review__count">
                    <div class="review__title">
                        <p>評価</p>
                        <div>
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                        </div>
                    </div>
                    <div>
                        <p>2018/12/19 石田容健さん</p>
                    </div>
                </div>
                <div class="review__content">
                    <p>今年も従兄弟へのお歳暮です。楽しみに待っていると思います。</p>
                </div>
            </div>
            <div class="review__item">
                <div class="review__count">
                    <div class="review__title">
                        <p>評価</p>
                        <div>
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                        </div>
                    </div>
                    <div>
                        <p>2018/02/04 やっちょさん</p>
                    </div>
                </div>
                <div class="review__content">
                    <p>苫小牧の従兄弟へのお歳暮にしました。讃岐うどんは「美味い！」と喜んでくれてます。</p>
                </div>
            </div>
            <div class="review__item">
                <div class="review__count">
                    <div class="review__title">
                        <p>評価</p>
                        <div>
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                            <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}" alt="startIcon">
                        </div>
                    </div>
                    <div>
                        <p>2017/11/07 たぼさん</p>
                    </div>
                </div>
                <div class="review__content">
                    <p>食感がとてもよく、美味しくいただきました。</p>
                </div>
            </div>
            <p>1件～9件 (全 9件)</p>
        </div>
        <div class="products__interest">
            <div>
                <h2><span>あ</span>なたにおすすめの商品はこちら</h2>
                <div class="wishlist">
                    <div class="wishlist__item">
                        <a href="">
                            <img src="{{ '../assets/wishlist1.jpeg' | asset_url }}" alt="Wish List">
                        </a>
                        <span>半生讃岐石丸うどん包丁切り（1袋）</span>
                        <p>1,450円(税込)</p>
                    </div>
                    <div class="wishlist__item">
                        <a href="">
                            <img src="{{ '../assets/wishlist2.jpeg' | asset_url }}" alt="Wish List">
                        </a>
                        <span>半生讃岐うどん（つゆ付）（6袋）</span>
                        <p>1,920円(税込)</p>
                    </div>
                    <div class="wishlist__item">
                        <a href="">
                            <img src="{{ '../assets/wishlist3.jpeg' | asset_url }}" alt="Wish List">
                        </a>
                        <span>HP-24 半生讃岐石丸うどん24人前セット つ...</span>
                        <p>3,500円(税込)</p>
                    </div>
                    <div class="wishlist__item">
                        <a href="">
                            <img src="{{ '../assets/wishlist4.jpeg' | asset_url }}" alt="Wish List">
                        </a>
                        <span>W-20A 厳選 半生めんセット</span>
                        <p>2,600円(税込)</p>
                    </div>
                </div>
            </div>
            <div class="ranking">
                <h2><span>人</span>気商品 週間アクセスランキング</h2>
                <div class="wishlist">
                    <img src="{{ '../assets/ranking.png' | asset_url }}" alt="ranking">
                    <div class="wishlist__item">
                        <a href="#">
                            <img src="{{ '../assets/wishlist5.jpeg' | asset_url }}" alt="Wish List">
                        </a>
                        <span>HP-15A 半生讃岐石丸うどん15人前セット（...</span>
                        <p>1,450円(税込)</p>
                    </div>
                    <div class="wishlist__item">
                        <a href="#">
                            <img src="{{ '../assets/wishlist6.jpeg' | asset_url }}" alt="Wish List">
                        </a>
                        <span>HP-15B 半生讃岐石丸うどん15人前セット（...</span>
                        <p>1,900円(税込)</p>
                    </div>
                    <div class="wishlist__item">
                        <a href="#">
                            <img src="{{ '../assets/wishlist7.jpeg' | asset_url }}" alt="Wish List">
                        </a>
                        <span>半生讃岐うどん（つゆ付）（6袋）</span>
                        <p>1,920円(税込)</p>
                    </div>
                    <div class="wishlist__item">
                        <a href="#">
                            <img src="{{ '../assets/wishlist8.jpeg' | asset_url }}" alt="Wish List">
                        </a>
                        <span>HP-24 半生讃岐石丸うどん24人前セット つ...</span>
                        <p>3,500円(税込)</p>
                    </div>
                    <div class="wishlist__item">
                        <a href="#">
                            <img src="{{ '../assets/wishlist9.jpeg' | asset_url }}" alt="Wish List">
                        </a>
                        <span>W-20A 厳選 半生めんセット</span>
                        <p>2,600円(税込)</p>
                    </div>
                </div>
            </div>
            <div>
                <h2><span>最</span>近チェックした商品はこちら</h2>
                <div class="wishlist">
                    <div class="wishlist__item">
                        <a href="#">
                            <img src="{{ '../assets/wishlist10.jpeg' | asset_url }}" alt="">
                        </a>
                        <span>UG-5 国産 半生讃岐うどん「うどん丸」</span>
                        <p>5,400円(税込)</p>
                    </div>
                    <div class="wishlist__item">
                        <a href="#">
                            <img src="{{ '../assets/wishlist11.jpeg' | asset_url }}" alt="">
                        </a>
                        <span>HP-7A 半生讃岐石丸うどん9人前セット つゆ...</span>
                        <p>1,890円(税込)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-Sp">
        <div class="directional">
            <ul class="breadcrumb">
                <li><a href="">トップ</a></li>
                <li><a href="">ギフト・詰合せ</a></li>
                <li>UG-5 国産 半生讃岐うどん「うどん丸」</li>
            </ul>
            <div class="prev-next">
            <span>
                <i class="fa-solid fa-chevron-left"></i>
                前の商品</span>
                <span>次の商品
            <i class="fa-solid fa-chevron-right"></i></span>
            </div>
        </div>
        <div class="slider">
            <div class="slider-container"></div>
            <div class="dots-container"></div>
            <button class="prev-btn">&lt;</button>
            <button class="next-btn">&gt;</button>
        </div>
        <div class="buy__often">
            <h2><span>通</span>常購入</h2>
            <div class="reviewRateStar">
                <img src="{{ '../assets/starIcon.png' | asset_url }}" alt="">
                <img src="{{ '../assets/starIcon.png' | asset_url }}" alt="">
                <img src="{{ '../assets/starIcon.png' | asset_url }}" alt="">
                <img src="{{ '../assets/starIcon.png' | asset_url }}" alt="">
                <img src="{{ '../assets/starIcon.png' | asset_url }}" alt="">
                <p>(9件) 【　商品番号　0963 】</p>
            </div>
            <div class="into__money">
                <span>5,000 円(税込)</span>
                <p>50pt</p>
            </div>
            <div class="option">
                <select>
                    <option>--- 包装(必須) ---</option>
                    <option selected>1、包装なし</option>
                    <option>2、簡易包装のみ [表書・名入れ不可]</option>
                    <option>6、新デザインかけ紙【い】[あさの葉]</option>
                    <option>7、新デザインかけ紙【ろ】[ベーシック]</option>
                    <option>8、新デザインかけ紙【は】[うどんシルエット]</option>
                    <option> : 3、完全包装[有料](+50円)</option>
                    \
                </select>
                <select>
                    <option>--- 表書(必須) ---</option>
                    <option value="50、のしなし|0" selected="">50、のしなし</option>
                    <option value="55、表書なし|0" disabled="">55、表書なし</option>
                    <option value="3、御中元|0" disabled="">3、御中元</option>
                    <option value="4、御歳暮|0" disabled="">4、御歳暮</option>
                    <option value="5、御祝|0" disabled="">5、御祝</option>
                    <option value="6、御礼|0" disabled="">6、御礼</option>
                    <option value="8、粗品|0" disabled="">8、粗品</option>
                    <option value="11、御供|0" disabled="">11、御供</option>
                    <option value="12、暑中御見舞|0" disabled="">12、暑中御見舞</option>
                    <option value="14、御年賀|0" disabled="">14、御年賀</option>
                    <option value="16、内祝|0" disabled="">16、内祝</option>
                    <option value="21、粗供養|0" disabled="">21、粗供養</option>
                    <option value="22、志|0" disabled="">22、志</option>
                    <option value="37、寿[蝶結]/長寿祝いなど|0" disabled="">37、寿[蝶結]/長寿祝いなど</option>
                    <option value="38、寿[結切10本]/結婚などのお返し|0" disabled="">38、寿[結切10本]/結婚などのお返し</option>
                    <option value="42、御挨拶|0" disabled="">42、御挨拶</option>
                    <option value="56、御祝[蝶結]/出産・入学・新築祝いなど|0" disabled="">56、御祝[蝶結]/出産・入学・新築祝いなど
                    </option>
                    <option value="57、御祝[結切10本]/結婚など|0" disabled="">57、御祝[結切10本]/結婚など</option>
                    <option value="58、内祝[蝶結]/出産・入学・新築祝いのお返し|0" disabled="">
                        58、内祝[蝶結]/出産・入学・新築祝いのお返し
                    </option>
                    <option value="59、内祝[結切5本]/病気などの御見舞いのお返し|0" disabled="">
                        59、内祝[結切5本]/病気などの御見舞いのお返し
                    </option>
                    <option value="60、内祝[結切10本]/結婚などのお返し|0" disabled="">60、内祝[結切10本]/結婚などのお返し</option>
                    <option value="61、御供[黄のし]|0" disabled="">61、御供[黄のし]</option>
                    <option value="62、御供[蓮のし]|0" disabled="">62、御供[蓮のし]</option>
                    <option value="65、粗供養[黄のし]|0" disabled="">65、粗供養[黄のし]</option>
                    <option value="66、粗供養[蓮のし]|0" disabled="">66、粗供養[蓮のし]</option>
                    <option value="67、志[黄のし]|0" disabled="">67、志[黄のし]</option>
                    <option value="68、志[蓮のし]|0" disabled="">68、志[蓮のし]</option>
                    <option value="99、その他|0" disabled="">99、その他</option>
                </select>
                <label for="">
                    数量
                    <input type="text" value="1">
                </label>
            </div>
            <div class="enter__keyword-Sp">
                <p>【名入れ】と【外のし希望】　(例→石丸　外のし）　完全包装でのしをつける場合、基本は「内のし」です</p>
                <input type="text">
                <p>入力できる文字数：全角22文字</p>
                <div class="add__cart">
                    <button>カートに入れる</button>
                    <p>この商品について問い合わせる</p>
                </div>
            </div>
            <div class="detail__info-note">
                <h2 style="margin-bottom: 20px"><span>通</span>常購入</h2>
                <span>包丁切り</span>
                <ul>
                    <li>★保存料不使用,賞味期限1か月</li>
                    <li>★テストするモノ批評誌 <span>「MONOQLO」</span> 2023年3月号で「感動の安くて良いモノ」<span>ベストバリュー</span>に選ばれました！
                    </li>
                </ul>
                <p>厳選した小麦粉を使用し、保存料不使用でつくりました。
                    うどん本来の味を楽しめる、素材勝負の自信作。讃岐伝統の手打式製法で打ち上げた半生麺です。</p>
                <ul class="detail__description">
                    <li>60人前</li>
                    <li>内容量：300g（3人前）×20袋</li>
                    <li>賞味期限：製造より1か月（保存料不使用</li>
                    <li>ゆで時間：15分（ざる）</li>
                </ul>
                <p>※めんつゆは付いておりません。</p>
                <div class="detail__image-sp">
                    <img src="{{ '../assets/detail1.png' | asset_url }}" alt="">
                    <img src="{{ '../assets/detail2.png' | asset_url }}" alt="">
                </div>
                <img src="{{ '../assets/detail3.png' | asset_url }}" alt="">
                <img src="{{ '../assets/detail4.png' | asset_url }}" alt="">
                <img src="{{ '../assets/imgDetailSp.jpeg' | asset_url }}" alt="">
                <p style="font-size: 11px">1箱に20袋入っております。</p>
                <img src="{{ '../assets/imgDetailSp2.jpeg' | asset_url }}" alt="">
                <p>こちらの箱でお届けいたします。</p>
                <p>箱にのし・包装ができます。</p>
                <div class="cart__shopping-sp">
                    <span>紙袋：最適サイズ</span>
                    <img src="{{ '../assets/icon-cart.png' | asset_url }}" alt="shopping cart">
                </div>
                <div class="see__more">
                    <p>→紙袋（大サイズ）はこちら</p>
                    <p>→ビニール袋はこちら</p>
                </div>
                <h3>おいしさの秘密　～手打ち式製法 包丁切り～</h3>
                <p>讃岐伝統の手打式製法で打ち上げ、麺生地を包丁切りカッターで一本一本丁寧に切ることで、角の立った麺に仕上がりました。</p>
                <h3>おいしいゆで方</h3>
                <ul class="direct">
                    <li>基準は100グラムのうどん（約1人前）に対して、水は約1リットル以上のたっぷりの水を使います。</li>
                    <li>必ず沸騰したお湯に麺を投入してください。その後うどん同士がくっつかないよう箸で軽く麺をほぐしてください。</li>
                    <li>うどんが軽く対流するぐらいの沸騰が続くように、火加減を調節し、食べ方に応じたゆで時間でゆであげてください。</li>
                </ul>
                <p>※このとき差し水は絶対しないでください。（火を弱めると吹き零れは収まります）</p>
            </div>
            <img src="{{ '../assets/banner-ads.png' | asset_url }}" alt="banner" class="banner__ads">
            <div>
                <h2><span>最</span>近チェックした商品はこちら</h2>
                <div class="wishlist ">
                    <div class="wishlist__item wishlist__item-sp">
                        <a href="#">
                            <img src="{{ '../assets/wishlist11.jpeg' | asset_url }}" alt="">
                        </a>
                        <p>HP-24 半生讃岐石丸うどん24人前セット つゆ付【送料込※】</p>
                    </div>
                    <div class="wishlist__item wishlist__item-sp">
                        <a href="#">
                            <img src="{{ '../assets/wishlist6.jpeg' | asset_url }}" alt="">
                        </a>
                        <p>HP-15B 半生讃岐石丸うどん15人前セット（つゆ付）</p>
                    </div>
                    <div class="wishlist__item wishlist__item-sp">
                        <a href="#">
                            <img src="{{ '../assets/wishlist1.jpeg' | asset_url }}" alt="">
                        </a>
                        <p>HP-15A 半生讃岐石丸うどん15人前セット（麺のみ）</p>
                    </div>
                    <div class="wishlist__item wishlist__item-sp">
                        <a href="#">
                            <img src="{{ '../assets/wishlist4.jpeg' | asset_url }}" alt="">
                        </a>
                        <p>HP-15A 半生讃岐石丸うどん15人前セット（麺のみ）</p>
                    </div>
                    <div class="wishlist__item wishlist__item-sp">
                        <a href="#">
                            <img src="{{ '../assets/wishlist8.jpeg' | asset_url }}" alt="">
                        </a>
                        <p>HP-15A 半生讃岐石丸うどん15人前セット（麺のみ）</p>
                    </div>
                    <div class="wishlist__item wishlist__item-sp">
                        <a href="#">
                            <img src="{{ '../assets/wishlist10.jpeg' | asset_url }}" alt="">
                        </a>
                        <p>HP-15A 半生讃岐石丸うどん15人前セット（麺のみ）</p>
                    </div>
                </div>
            </div>
            <div class="review__list-Sp">
                <h2><span>こ</span>の商品についてのレビュー</h2>
                <p>レビュー件数：9件</p>
                <div class="review__item">
                    <div class="review__count">
                        <div class="review__title-Sp">
                            <p>クロちゃんママ</p>
                            <div>
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                            </div>
                        </div>
                        <div>
                            <p>2022/04/22</p>
                        </div>
                    </div>
                    <div class="review__content">
                        <p>夫が讃岐うどんの大ファンで、石丸さんの半生うどんを <br>
                            知人から頂き…感動する美味しさだと言い <br>
                            お取り寄せさせて頂きました。<br>
                            毎日食べても飽きないと大喜びです。</p>
                    </div>
                </div>
                <div class="review__item">
                    <div class="review__count">
                        <div class="review__title-Sp">
                            <p>クロちゃんママ</p>
                            <div>
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon1_off.png' | asset_url }}"
                                     alt="startIcon">
                            </div>
                        </div>
                        <div>
                            <p>2020/12/04</p>
                        </div>
                    </div>
                    <div class="review__content">
                        <p>苫小牧の従兄弟が好きで、昨年は別の物にしようかとTELしたところ、奥さんに「いつものうどんにして下さい」と言われて今年も送りました。</p>
                    </div>
                </div>
                <div class="review__item">
                    <div class="review__count">
                        <div class="review__title-Sp">
                            <p>クロちゃんママ</p>
                            <div>
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                            </div>
                        </div>
                        <div>
                            <p>2020/10/23</p>
                        </div>
                    </div>
                    <div class="review__content">
                        <p>
                            乾麺とはひと味違った食感。釜揚げ、出汁、ザル何れでも美味しく食べています。1袋3人前ですが、我が家では2人で食べるのに丁度良い量です。</p>
                    </div>
                </div>
                <div class="review__item">
                    <div class="review__count">
                        <div class="review__title-Sp">
                            <p>クロちゃんママ</p>
                            <div>
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                            </div>
                        </div>
                        <div>
                            <p>2020/10/14</p>
                        </div>
                    </div>
                    <div class="review__content">
                        <p>いつもこの商品を買っています。ひとりで20袋を1か月となると、毎日石丸うどんになります。</p>
                    </div>
                </div>
                <div class="review__item">
                    <div class="review__count">
                        <div class="review__title-Sp">
                            <p>クロちゃんママ</p>
                            <div>
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                            </div>
                        </div>
                        <div>
                            <p>2020/05/25</p>
                        </div>
                    </div>
                    <div class="review__content">
                        <p>
                            先日高松の友人から石丸うどんを頂いた。久しぶりに美味しかったので、自分用に初めて注文した。半生でこれだけの味であれば、東京では中々味わえない本格的なうどんでした。また注文します。</p>
                    </div>
                </div>
                <div class="review__item">
                    <div class="review__count">
                        <div class="review__title-Sp">
                            <p>クロちゃんママ</p>
                            <div>
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon1_off.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon1_off.png' | asset_url }}"
                                     alt="startIcon">
                                <img class="star__icon" src="{{ '../assets/starIcon1_off.png' | asset_url }}"
                                     alt="startIcon">
                            </div>
                        </div>
                        <div>
                            <p>2020/04/16</p>
                        </div>
                    </div>
                    <div class="review__content">
                        <p>夫が讃岐うどんの大ファンで、石丸さんの半生うどんを <br>
                            今年の母の日のプレゼント用に、<br>
                            また注文したいと思います！。</p>
                    </div>
                </div>
                <p class="see__more-sp">もっと見る</p>

                <div>
                    <div class="letter">
                        <button>レビューを書く</button>
                    </div>
                    <h2><span>こ</span>の商品をシェア</h2>
                    <div class="media__contact-sp">
                        <div class="twitter">
                            <p><i class="fa-brands fa-twitter"></i>
                                ツイート</p>
                        </div>
                        <div class="like">
                            <p>
                                <i class="fa-solid fa-thumbs-up"></i>
                                Like
                            </p>
                        </div>
                    </div>
                </div>
                <div class="trend__sp">
                    <h2>あなたにおすすめの商品はこちら</h2>
                    <div class="wishlist ">
                        <div class="wishlist__item wishlist__item-sp">
                            <a href="#">
                                <img src="../assets/wishlist11.jpeg" alt="">
                            </a>
                            <p>半生讃岐石丸うどん包丁切</p>
                            <p>310円</p>
                        </div>
                        <div class="wishlist__item wishlist__item-sp">
                            <a href="#">
                                <img src="../assets/wishlist2.jpeg" alt="">
                            </a>
                            <p>半生讃岐うどん（つゆ付）</p>
                            <p>3,500円</p>
                        </div>
                        <div class="wishlist__item wishlist__item-sp">
                            <a href="#">
                                <img src="../assets/wishlist11.jpeg" alt="">
                            </a>
                            <p>HP-24 半生讃岐石丸うどん2</p>
                            <p>1,920円</p>
                        </div>
                        <div class="btn__arrow">
                            <button class="left"><i class="fa-solid fa-chevron-left"></i></button>
                            <button class="right"><i class="fa-solid fa-angle-right"></i></button>
                        </div>
                    </div>
                    <h2>あなたにおすすめの商品はこちら</h2>
                    <div class="wishlist ">
                        <div class="wishlist__item wishlist__item-sp">
                            <a href="#">
                                <img src="../assets/wishlist11.jpeg" alt="">
                            </a>
                            <p>HP-24 半生讃岐石丸うどん2</p>
                            <p>3,500円</p>
                        </div>
                        <div class="wishlist__item wishlist__item-sp">
                            <a href="#">
                                <img src="../assets/wishlist6.jpeg" alt="">
                            </a>
                            <p>HP-15A 半生讃岐石丸うどん1</p>
                            <p>1,900円</p>
                        </div>
                        <div class="wishlist__item wishlist__item-sp">
                            <a href="#">
                                <img src="../assets/wishlist1.jpeg" alt="">
                            </a>
                            <p>HP-15A 半生讃岐石丸うどん1</p>
                            <p>1,450円</p>
                        </div>
                        <div class="btn__arrow">
                            <button class="left"><i class="fa-solid fa-chevron-left"></i></button>
                            <button class="right"><i class="fa-solid fa-angle-right"></i></button>
                        </div>
                    </div>
                    <h2>あなたにおすすめの商品はこちら</h2>
                    <div class="wishlist ">
                        <div class="wishlist__item wishlist__item-sp">
                            <a href="#">
                                <img src="../assets/wishlist11.jpeg" alt="">
                            </a>
                            <p>HP-15B 半生讃岐石丸うどん1</p>
                            <p>1,450円</p>
                        </div>
                        <div class="wishlist__item wishlist__item-sp">
                            <a href="#">
                                <img src="../assets/wishlist6.jpeg" alt="">
                            </a>
                            <p>半生讃岐石丸うどん包丁切</p>
                            <p>1,900円</p>
                        </div>
                        <div class="wishlist__item wishlist__item-sp">
                            <a href="#">
                                <img src="../assets/wishlist7.jpeg" alt="">
                            </a>
                            <p>半生讃岐石丸うどん包丁切</p>
                            <p>2,850円</p>
                        </div>
                        <div class="btn__arrow">
                            <button class="left"><i class="fa-solid fa-chevron-left"></i></button>
                            <button class="right"><i class="fa-solid fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
  "name": "main-product-detail",
  "settings": [],
  "blocks": [
    {
      "name": "thumbnails-image",
      "type": "thumbnails-image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}